body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #F7F1ED;
	color: #2F365F;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    margin-right: 20px;
    font-size: 20px;
    padding: 10px 20px;
}

header a {
    color: #fff;
    text-decoration: none;
}

main {
	text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

main h1 {
    font-size: 36px;
    margin-top: 0;
}

main p {
    margin-bottom: 20px;
}

footer {
    background-color: #FEBEB0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
	color: #F7F1ED;
}

footer p {
    margin: 0;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hide the menu off-screen initially */
    width: 250px;
    height: 100%;
    background-color: #3D5A5B;
    transition: left 0.3s ease; /* Smooth transition for sliding */
    padding-top: 60px; /* Adjust according to your header height */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.exit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FEBEB0;
	padding: 10px;
}

header button {
	float: left;
	margin-left: 10px;
	margin: 10px;
	background-color: #3D5A5B;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

header h1 {
	text-align: center;
    margin: 0;
	margin-right: 100px;
	color: #F7F1ED;
}

.comment-form {
    text-align: left;
	margin-left: 175px;
}

main p1 {
    margin-bottom: 20px;
}